Repository DiogoRibeiro7/nosql-databases-labs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-mongodb-connection-strings, validate-lab-structure

check-mongodb-connection-strings:
  name: Check MongoDB Connection Strings
  entry: python scripts/check_mongodb_strings.py
  language: python
  pass_filenames: true

validate-lab-structure:
  name: Validate Lab Structure
  entry: python scripts/validate_labs.py
  language: python
  pass_filenames: false

Group 10 (#90)
  data/sakila-db/output/customers2.csv
  group-work/# GROUP10
  group-work/group_10/README.md
  group-work/group_10/project/README.md
  group-work/group_10/project/architecture.md
  group-work/group_10/project/data/README.md
  group-work/group_10/project/data/customers_2025_extended.json
  group-work/group_10/project/data/films_2025_extended.json
  group-work/group_10/project/data/rentals_2025_extended.json
  group-work/group_10/project/data/stores_2025_extended.json
  group-work/group_10/project/import_data.mongosh.js
  group-work/group_10/project/queries/00_CRUD.js
  group-work/group_10/project/queries/01_receita_por_loja_e_filme.mongosh.js
  group-work/group_10/project/queries/02_clientes_mais fieis.mongosh.js
  group-work/group_10/project/queries/03_encontrar_loja_mais_próxima_um_ponto.mongosh.js
  group-work/group_10/project/queries/04_Receita por ano de lançamento.mongosh.js
  group-work/group_10/project/queries/05_filme_mais_rentavel.mongosh.js
  group-work/group_10/project/queries/06_Receita por cliente por loja.mongosh.js
  group-work/group_10/project/queries/07_historioco_de_aluguer_por_cliente.mongosh.js
  group-work/group_10/project/queries/08_alugueres_por_estado.mongosh.js
  group-work/group_10/project/queries/09_receita_mensal.mongosh.js
  group-work/group_10/project/queries/10_filmes_mais_recentes_alugados_em_cada_loja.mongosh.js
  group-work/group_10/project/queries/11_filmes_por_intervalo_de_preço.mongosh.js
  group-work/group_10/project/queries/12_clientes_com_alugueres_atraso.mongosh.js
  group-work/group_10/project/queries/13_clientes_inativos_antes_2025.mongosh.js
  group-work/group_10/project/queries/14_filmes_por_faixa_preco.mongosh.js
  group-work/group_10/project/queries/15_pesquisa_por_palavra_chave_films.mongosh.js
  group-work/group_10/project/queries/16_estatisticas_globais_films.mongosh.js
  group-work/group_10/project/queries/17_tendencia_alugueres_dias.mongosh.js
  group-work/group_10/project/queries/18_cliente_por cidade.mongosh.js
  group-work/group_10/project/queries/index_blueprint.mongosh.js
  group-work/group_XX_example/project/advanced_/README.md
  group-work/group_XX_example/project/advanced_/aggregation_performance.mongosh.js
  group-work/group_XX_example/project/advanced_/approximate_metrics.mongosh.js
  group-work/group_XX_example/project/import_data_mongosh.js
  labs/lab02_modeling/BASIC_EXERCISES.md
  labs/lab02_modeling/examples/basic_order.json
  labs/lab03_queries/BASIC_EXERCISES.md
  labs/lab03_queries/NOTES.md
  labs/lab03_queries/queries_mongosh.js
Due: check-mongodb-connection-strings, validate-lab-structure

Last changes according to the feedback given
  group-work/group_20/Solutions.md
  group-work/group_20/project/data/audit_logs.mongosh.js
  group-work/group_20/project/data/clinical_encounters.mongosh.js
  group-work/group_20/project/data/create_indexes.mongosh.js
  group-work/group_20/project/data/drop_collections.mongosh.js
  group-work/group_20/project/data/import_data.mongosh.js
  group-work/group_20/project/data/lab_results.mongosh.js
  group-work/group_20/project/data/patients.mongosh.js
  group-work/group_20/project/data/providers.mongosh.js
  group-work/group_20/project/queries/analytics.mongosh.js
  group-work/group_20/project/queries/clinical_history.mongosh.js
  group-work/group_20/project/queries/lab_results_queries.mongosh.js
  group-work/group_20/project/queries/patients_queries.mongosh.js
  group-work/group_20/project/tests/README.md
Due: check-mongodb-connection-strings

Group 20 pull request creation (#78)
  group-work/group_20/ReadMe.md
  group-work/group_20/Solutions.md
  group-work/group_20/project/architecture.md
  group-work/group_20/project/data/audit_logs.mongosh.js
  group-work/group_20/project/data/clinical_encounters.mongosh.js
  group-work/group_20/project/data/create_indexes.mongosh.js
  group-work/group_20/project/data/drop_collections.mongosh.js
  group-work/group_20/project/data/import_data.mongosh.js
  group-work/group_20/project/data/lab_results.mongosh.js
  group-work/group_20/project/data/patients.mongosh.js
  group-work/group_20/project/data/providers.mongosh.js
  group-work/group_20/project/queries/analytics.mongosh.js
  group-work/group_20/project/queries/clinical_history.mongosh.js
  group-work/group_20/project/queries/lab_results_queries.mongosh.js
  group-work/group_20/project/queries/patients_queries.mongosh.js
  group-work/group_20/project/tests/README.md
  group-work/group_20/project/tests/data_quality.mongosh.js
  group-work/group_20/project/tests/queries_tests.mongosh.js
  package-lock.json
  yarn.lock
Due: check-mongodb-connection-strings

Alterações sugeridas
  group-work/group_11/project/README.md
  group-work/group_11/project/architecture.md
  group-work/group_11/project/queries/CRUD_operations.mongodb.js
  group-work/group_11/project/queries/aggregations.mongodb.js
  group-work/group_11/project/queries/business_queries.mongodb.js
  group-work/group_11/project/queries/setup_colections.mongodb.js
  group-work/group_11/project/queries/setup_collection.mongodb.js
Due: check-mongodb-connection-strings

Entrega Projeto Final MongoDB (#103)
  group-work/group_11/project/README.md
  group-work/group_11/project/architecture.md
  group-work/group_11/project/data/sample_porto_listings.json
  group-work/group_11/project/queries/CRUD_operations.mongodb.js
  group-work/group_11/project/queries/aggregations.mongodb.js
  group-work/group_11/project/queries/business_queries.mongodb.js
  group-work/group_11/project/queries/setup_collection.mongodb.js
Due: check-mongodb-connection-strings

refactor: optimize mongosh scripts and fix data types
  group-work/group_05/project/import_data.mongosh.js
  group-work/group_05/project/queries/01_get_all_listings_group_by_district.mongosh.js
  group-work/group_05/project/queries/02_group_by_neighbourhood.mongosh.js
  group-work/group_05/project/queries/03_filter_listing_within_range_point.mongosh.js
  group-work/group_05/project/queries/04_get_bang_for_buck.mongosh.js
  group-work/group_05/project/queries/05_create_new_listing.mongosh.js
  group-work/group_05/project/queries/06_avg_price_by_neighbourhood.mongosh.js
  group-work/group_05/project/queries/07_popular_listings_by_reviews_availability.mongosh.js
  group-work/group_05/project/queries/08_edit_reservation_dates.mongosh.js
  group-work/group_05/project/queries/09_check_listing_availability.mongosh.js
  group-work/group_05/project/queries/10_check_price_per_bedroom_porto.mongosh.js
  group-work/group_05/project/queries/11_delete_most_expensive_listing_lisbon_porto.mongosh.js
  group-work/group_05/project/queries/12_find_cheapest_private_room_lisbon.mongosh.js
  group-work/group_05/project/queries/13_find_cheapest_team_stay_porto.mongosh.js
  group-work/group_05/project/queries/14_hosts_response_rate_over_95_stats.mongosh.js
  group-work/group_05/project/queries/15_two_city_budget_trip.mongosh.js
  group-work/group_05/project/queries/index_blueprint.mongosh.js
Due: check-mongodb-connection-strings

Apply suggestion from @Copilot
  group-work/group_18/project/README.md
Due: none

read me group 12 updates
  group-work/group_12/README.md
  group-work/group_12/project/queries/01_FilterCityAndType.js
Due: check-mongodb-connection-strings

Group 18 project (#92)
  group-work/group_18/README.md
  group-work/group_18/project/README.md
  group-work/group_18/project/TEAM-REFLECTION.md
  group-work/group_18/project/architecture.md
  group-work/group_18/project/data/restaurant.json
  group-work/group_18/project/queries/aggregations/analytics.js
  group-work/group_18/project/queries/crud/crud_favorites.js
  group-work/group_18/project/queries/crud/crud_restaurants.js
  group-work/group_18/project/queries/crud/crud_reviews.js
  group-work/group_18/project/queries/indexes/index.js
Due: check-mongodb-connection-strings

README_alterações
  group-work/group_12/README.md
  group-work/group_12/project/README.md
Due: none

Final commit
  group-work/group_12/project/README.md
Due: none

Final commit_2
  group-work/group_12/README.md
Due: none

fix: data import + more stuff
  group-work/group_06/README.md
  group-work/group_06/project/Queries/01_patients_by_age_and_gender.mongosh.js
  group-work/group_06/project/Queries/02_chronic_patients_by_condition.mongosh.js
  group-work/group_06/project/Queries/03_insert_new_patient.mongosh.js
  group-work/group_06/project/Queries/04_update_patient_contact.mongosh.js
  group-work/group_06/project/Queries/05_delete_inactive_patient.mongosh.js
  group-work/group_06/project/Queries/06_recent_visits_for_patient.mongosh.js
  group-work/group_06/project/Queries/07_visits_by_department_with_index.mongosh.js
  group-work/group_06/project/Queries/08_update_and_insert_lab_result.mongosh.js
  group-work/group_06/project/Queries/09_list_prescription_medications.mongosh.js
  group-work/group_06/project/Queries/10_visit_indexes.mongosh.js
  group-work/group_06/project/Queries/11_last_lab_results_for_patient.mongosh.js
  group-work/group_06/project/Queries/12_flag_high_bp_visits.mongosh.js
  group-work/group_06/project/Queries/ensure_medical_db.mongosh.js
  group-work/group_06/project/import_data.sh
  package-lock.json
  yarn.lock
Due: check-mongodb-connection-strings

Update group-work/group_12/project/README.md
  group-work/group_12/project/README.md
Due: none

Update group-work/group_12/project/queries/01_FilterCityAndType.js
  group-work/group_12/project/queries/01_FilterCityAndType.js
Due: check-mongodb-connection-strings

fix: remove toISOString in08_upcoming_airport_landings
  group-work/group_01/project/queries/08_upcoming_airport_landings.mongosh.js
Due: check-mongodb-connection-strings

feat: update solutions.md
  group-work/group_01/solution.md
  group-work/group_01/solution_example.md
Due: none

fix: 01_create_flight_reservation
  group-work/group_01/project/queries/01_create_flight_reservation.mongosh.js
Due: check-mongodb-connection-strings

fix: 18_customer_lifetime_value
  group-work/group_01/project/queries/18_customer_lifetime_value.mongosh.js
Due: check-mongodb-connection-strings

fix: 13_total_revenue_by_airline
  group-work/group_01/project/architecture.md
  group-work/group_01/project/queries/13_total_revenue_by_airline.mongosh.js
Due: check-mongodb-connection-strings

Group12 FoodExpress Delivery System (#107)
  group-work/group_12/README.md
  group-work/group_12/project/README.md
  group-work/group_12/project/architecture.md
  group-work/group_12/project/data/foodexpress_db.orders.json
  group-work/group_12/project/data/foodexpress_db.restaurants.json
  group-work/group_12/project/queries/00_SearchByCity.js
  group-work/group_12/project/queries/01_FilterCityAndType.js
  group-work/group_12/project/queries/02_LocationRestaurantNames.js
  group-work/group_12/project/queries/03_LatestDeliveredOrders.js
  group-work/group_12/project/queries/04_CountProcessingOrders.js
  group-work/group_12/project/queries/05_FindDessertVenues.js
  group-work/group_12/project/queries/06_CheapEatsFilter.js
  group-work/group_12/project/queries/07_HighValueOrders.js
  group-work/group_12/project/queries/08_MidRangeRevenueRange.js
  group-work/group_12/project/queries/09_FullCourseRestaurants.js
  group-work/group_12/project/queries/10_TextSearchBranding.js
  group-work/group_12/project/queries/11_TopRatedOpenVenues.js
  group-work/group_12/project/queries/12_AvgRatingByCity.js
  group-work/group_12/project/queries/13_RevenuePerRestaurant.js
  group-work/group_12/project/queries/14_MostPopularItems.js
  group-work/group_12/project/queries/15_AvgPriceByCuisine.js
  group-work/group_12/project/queries/16_OrderDetailsWithJoin.js
  group-work/group_12/project/queries/17_PremiumOrderVenues.js
  group-work/group_12/project/queries/18_DailySalesTrend.js
  group-work/group_12/project/queries/19_AverageTicketByType.js
  group-work/group_12/project/queries/Index_Setup.js
Due: check-mongodb-connection-strings

Grupo 04 (#91)
  group-work/group_04/README.md
  group-work/group_04/project/README.md
  group-work/group_04/project/architecture.md
  group-work/group_04/project/data/sample_porto_listings.json
  group-work/group_04/project/import_data.mongosh.js
  group-work/group_04/project/queries/01_top_listings_by_reviews.mongosh.js
  group-work/group_04/project/queries/02_avg_price_by_neighbourhood.mongosh.js
  group-work/group_04/project/queries/03_room_type_distribution.mongosh.js
  group-work/group_04/project/queries/04_top_hosts_by_listings.mongosh.js
  group-work/group_04/project/queries/05_listing_details.mongosh.js
  group-work/group_04/project/queries/06_high_availability_listings.mongosh.js
  group-work/group_04/project/queries/07_low_rated_listings.mongosh.js
  group-work/group_04/project/queries/08_revenue_by_price_category.mongosh.js
  group-work/group_04/project/queries/09_most_profitable_listings.mongosh.js
  group-work/group_04/project/queries/10_booking_patterns_by_month.mongosh.js
  group-work/group_04/project/queries/11_host_performance_metrics.mongosh.js
  group-work/group_04/project/queries/12_listings_without_bookings.mongosh.js
  group-work/group_04/project/queries/13_neighbourhood_comparison.mongosh.js
  group-work/group_04/project/queries/14_luxury_listings.mongosh.js
  group-work/group_04/project/queries/15_listing_text_search.mongosh.js
  group-work/group_04/project/queries/16_revenue_by_neighbourhood_roomtype.mongosh.js
  group-work/group_04/project/queries/17_aggregation_with_explain.mongosh.js
  group-work/group_04/project/queries/17b_aggregation_with_explain.mongosh.js
  group-work/group_04/project/queries/18_collection_stats.mongosh.js
  group-work/group_04/project/queries/19_capacity_by_neighbourhood.mongosh.js
  group-work/group_04/project/queries/20_price_rating_analysis.mongosh.js
  group-work/group_04/project/queries/index_blueprint.mongosh.js
  group-work/group_04/solution.md
  group-work/group_04/solution_example.md
  group-work/grupo_04/README.md
Due: check-mongodb-connection-strings

Group_13 (#97)
  group-work/group_13/README.md
  group-work/group_13/project/README.md
  group-work/group_13/project/architecture.md
  group-work/group_13/project/data/README.md
  group-work/group_13/project/data/winequality-red.json
  group-work/group_13/project/data/winequality-white.json
  group-work/group_13/project/performance.md
  group-work/group_13/project/queries/01_Detailed_Filtering_for_Red_Wines.mongosh.js
  group-work/group_13/project/queries/02_Detailed_Filtering_for_White_Wines.mongosh.js
  group-work/group_13/project/queries/03_Mixed _AND_OR _Conditions.mongosh.js
  group-work/group_13/project/queries/04_Excluding_Many_Ranges.mogosh.js
  group-work/group_13/project/queries/05_Many Fields_Projection.mongosh.js
  group-work/group_13/project/queries/06_Broad_Filtering_for_Medium_Quality_Wines.mongosh.js
  group-work/group_13/project/queries/07_Wines_With_Strict_Acidity_Controls.mongosh.js
  group-work/group_13/project/queries/08_Wines_With_Many_Exclusions.mongosh.js
  group-work/group_13/project/queries/09_Wines_With_Many_OR_Conditions.mongosh.js
  group-work/group_13/project/queries/10_Wines_With_Many_AND_Conditions.mongosh.js
  group-work/group_13/project/queries/11_Wines_With_Combined_AND+_OR_Logic.mongosh.js
  group-work/group_13/project/queries/12_Wines_With_Many_Range_Filters.mongosh.js
  group-work/group_13/project/queries/13_Wines_With_Many_Exact_Matches.mongosh.js
  group-work/group_13/project/queries/14_Wines_With_Many_Negations.mongosh.js
  group-work/group_13/project/queries/15_Wines_With_Many_Upper_Limits.mongosh.js
  group-work/group_13/project/queries/16_Wines_With_Many_Lower_Limits.mongosh.js
  group-work/group_13/project/queries/17_Wines_With_Many_Combined_Ranges.mongosh.js
  group-work/group_13/project/queries/18_Wines-With_Many-Field_Checks-mongosh.js
  group-work/group_13/project/queries/19_Wines_With_Many_Taste_Related_Filters.mongosh.js
  group-work/group_13/project/queries/20_Wines_With_Many_Chemical_Constraints.mongosh.js
  group_13.txt
Due: check-mongodb-connection-strings

Group 19 final submission (#104)
  group-work/group_19/README.md
  group-work/group_19/project/README.md
  group-work/group_19/project/architecture.md
  group-work/group_19/project/data/books.json
  group-work/group_19/project/queries/00_collections.js
  group-work/group_19/project/queries/00_setup.js
  group-work/group_19/project/queries/01_countDocs.js
  group-work/group_19/project/queries/02_booksSample.js
  group-work/group_19/project/queries/03_filterCategory.js
  group-work/group_19/project/queries/04_filterAuthor.js
  group-work/group_19/project/queries/05_range10-15.js
  group-work/group_19/project/queries/06_dataQuality.js
  group-work/group_19/project/queries/07_missingThumb.js
  group-work/group_19/project/queries/08_regexMongo.js
  group-work/group_19/project/queries/09_pagination.js
  group-work/group_19/project/queries/10_textSearch.js
  group-work/group_19/project/queries/11_booksMobileExplain.js
  group-work/group_19/project/queries/12_topCategories.js
  group-work/group_19/project/queries/13_insert.js
  group-work/group_19/project/queries/14_update.js
  group-work/group_19/project/queries/15_deleteLoan.js
  group-work/group_19/project/queries/16_lookup.js
  group-work/group_19/project/queries/17_aggregIndex.js
Due: check-mongodb-connection-strings

Finalize Staybook MongoDB project with queries, indexes, tests and documentation (#100)
  group-work/group_23/project/README.md
  group-work/group_23/project/advanced/01_listings_price_explain.mongosh.js
  group-work/group_23/project/advanced/02_reservation_conflict_explain.mongosh.js
  group-work/group_23/project/architecture.md
  group-work/group_23/project/data/README.md
  group-work/group_23/project/data/sample_lisbon_listings.json
  group-work/group_23/project/data/sample_porto_listings.json
  group-work/group_23/project/import_data.mongosh.js
  group-work/group_23/project/performance.md
  group-work/group_23/project/queries/01_listings_filters.mongosh.js
  group-work/group_23/project/queries/02_price_normalization.mongosh.js
  group-work/group_23/project/queries/03_reservations_schema_seed.mongosh.js
  group-work/group_23/project/queries/04_seed_users_guests.mongosh.js
  group-work/group_23/project/queries/05_seed_reservations_reviews.mongosh.js
  group-work/group_23/project/queries/06_business_queries.mongosh.js
  group-work/group_23/project/queries/07_listings_by_neighbourhood.mongosh.js
  group-work/group_23/project/queries/08_room_type_distribution.mongosh.js
  group-work/group_23/project/queries/09_price_buckets.mongosh.js
  group-work/group_23/project/queries/10_rating_buckets.mongosh.js
  group-work/group_23/project/queries/11_neighbourhood_kpis.mongosh.js
  group-work/group_23/project/queries/12_host_rankings.mongosh.js
  group-work/group_23/project/queries/13_reservation_conflicts.mongosh.js
  group-work/group_23/project/queries/14_revenue_by_neighbourhood.mongosh.js
  group-work/group_23/project/queries/index_blueprint.mongosh.js
  group-work/group_23/project/tests/data_quality.mongosh.js
  group-work/group_23/solution.md
Due: check-mongodb-connection-strings

feat: realucação do ficheiro (#94)
  group-work/group_07/README.md
  group-work/group_07/README2.md
  group-work/group_07/project/Data/walking (1).csv
  group-work/group_07/project/README.md
  group-work/group_07/project/architecture.md
  group-work/group_07/project/import_walking.js
  group-work/group_07/project/queries/README.md
  group-work/group_07/project/queries/query_01.js
  group-work/group_07/project/queries/query_02.js
  group-work/group_07/project/queries/query_03.js
  group-work/group_07/project/queries/query_04.js
  group-work/group_07/project/queries/query_05.js
  group-work/group_07/project/queries/query_06.js
  group-work/group_07/project/queries/query_07.js
  group-work/group_07/project/queries/query_08.js
  group-work/group_07/project/queries/query_09.js
  group-work/group_07/project/queries/query_10.js
  group-work/group_07/project/queries/query_11.js
  group-work/group_07/project/queries/query_12.js
  group-work/group_07/project/queries/query_13.js
  group-work/group_07/project/queries/query_14.js
  group-work/group_07/project/queries/query_15.js
  group-work/group_07/solution.md
  group-work/group_07/solution_example.md
Due: check-mongodb-connection-strings

Group05 Final Submission (#95)
  group-work/group_05/README.md
  group-work/group_05/project/README.md
  group-work/group_05/project/architecture.md
  group-work/group_05/project/data/generatedata.py
  group-work/group_05/project/data/hosts.json
  group-work/group_05/project/data/listings.json
  group-work/group_05/project/data/reservations.json
  group-work/group_05/project/data/reviews.json
  group-work/group_05/project/import_data.mongosh.js
  group-work/group_05/project/performance.md
  group-work/group_05/project/queries/01_get_all_listings_group_by_district.mongosh.js
  group-work/group_05/project/queries/02_group_by_neighbourhood.mongosh.js
  group-work/group_05/project/queries/03_filter_listing_within_range_point.mongosh.js
  group-work/group_05/project/queries/04_get_bang_for_buck.mongosh.js
  group-work/group_05/project/queries/05_create_new_listing.mongosh.js
  group-work/group_05/project/queries/06_avg_price_by_neighbourhood.mongosh.js
  group-work/group_05/project/queries/07_popular_listings_by_reviews_availability.mongosh.js
  group-work/group_05/project/queries/08_edit_reservation_dates.mongosh.js
  group-work/group_05/project/queries/09_check_listing_availability.mongosh.js
  group-work/group_05/project/queries/10_check_price_per_bedroom_porto.mongosh.js
  group-work/group_05/project/queries/11_delete_most_expensive_listing_lisbon_porto.mongosh.js
  group-work/group_05/project/queries/12_find_cheapest_private_room_lisbon.mongosh.js
  group-work/group_05/project/queries/13_find_cheapest_team_stay_porto.mongosh.js
  group-work/group_05/project/queries/14_hosts_response_rate_over_95_stats.mongosh.js
  group-work/group_05/project/queries/15_two_city_budget_trip.mongosh.js
  group-work/group_05/project/queries/index_blueprint.mongosh.js
  group-work/group_05/solution.md
  group-work/group_05/solution_example.md
  group-work/group_XX_example/project/performance.md
Due: check-mongodb-connection-strings

fix: minor clean of artifacts
  .gitignore
  group-work/grupo_04/README.md
  group_13.txt
Due: none

fix: migrate to Yarn 4 and remove npm lockfile conflicts
  .yarn/install-state.gz
  .yarnrc.yml
  package-lock.json
  yarn.lock
Due: check-mongodb-connection-strings

fix: revert to Yarn 1 compatible lockfile for CI/CD compatibility
  .yarn/install-state.gz
  .yarnrc.yml
  yarn.lock
Due: check-mongodb-connection-strings

fix: resolve CI/CD issues - yarn lockfile and code formatting
  labs/lab03_queries/queries_mongosh.js
Due: check-mongodb-connection-strings, validate-lab-structure

Path conditions:
  check-mongodb-connection-strings: any of: \.(py|js|json|yml|yaml)$ and not (^(data/|venv/|\.env\.example)) and not ((?x)^(
  data/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  node_modules/.*|
  .*\.min\.js|
  .*\.min\.css
)$)
  validate-lab-structure: any of: ^labs/.*\.(js|py|md)$, but not: (?x)^(
  data/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  node_modules/.*|
  .*\.min\.js|
  .*\.min\.css
)$
